h1 {
  display: none;
}

h2 {
  font: var(--h1);
}

#about {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

#about > div {
  flex: 1;
  min-width: 300px;
}
