@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  --ff: "Montserrat", sans-serif;
  --ff2: "Fira Code", monospace;
  --gray10: hsl(0, 0%, 10%);
  --gray30: hsl(0, 0%, 30%);
  --gray60: hsl(0, 0%, 60%);
  --gray90: hsl(0, 0%, 90%);
  --colora: #537fe7;
  --colora2: #ffe537;
  --gradient: linear-gradient(45deg, var(--colora)0%, var(--colora2) 100%);

  --h1: bold 2.5rem/1.2em var(--ff);
  --h2: bold 2/1.5em var(--ff);
  --h3: bold 1.5rem/1.5em var(--ff);

  --links: bold 1rem/1em var(--ff);
  --p: 1rem/1.8em var(--ff);
  --p1: 1.2rem/1.5em var(--ff);
  --p2: 1.5rem/1.5em var(--ff);
  --subtext: .75rem/1.8em var(--ff);
  --pre: 1rem/1.5em var(--ff2);
  --transition: 0.3s ease-in-out;
  --shadow: #00000030 0px 4px 10px 0px;
}

/* System preferred color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --gray10: hsl(0, 0%, 90%);
    --gray30: hsl(0, 0%, 60%);
    --gray60: hsl(0, 0%, 30%);
    --gray90: hsl(0, 0%, 10%);
    --colora: #ffe537;
    --colora2: #537fe7;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* header */
header {
  margin: auto;
  width: 90%;
  max-width: 1080px;
}

.sajid {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 20px 0px;
}

header svg {
  fill: var(--colora);
  width: 12px;
  margin-right: 4px;
}


body {
  margin: auto;
  background-color: var(--gray90);
  color: var(--gray10);
  transition: var(--transition);
}

main {
  width: 90%;
  margin: 40px auto;
  max-width: 1080px;
}


/* links & buttons */
a {
  display: inline-block;
  text-decoration: none;
  color: var(--gray10);
  font: var(--links);
  position: relative;
}

.btn{
  margin: 20px 0px;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0px;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(90deg, var(--colora) 0%, var(--colora2) 100%);
  transition: var(--transition);
}

.btn:hover::before {
  width: 100%;
  transition: var(--transition);
}

h1,
h2,
h3,
.subtext {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 10px 0px;
  padding: 0px;
}

.p1 {
  font: var(--p1);
}

ul {
  margin: 10px;
}

h1 {
  color: var(--gray60);
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

.p2 {
  font: var(--p2);
}

p,
ul,
ol {
  font: var(--p);
}

.links {
  font: var(--links);
}

.subtext {
  font: var(--subtext);
}

section {
  width: 90%;
  margin: 200px auto;
  max-width: 1080px;
}



.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
.socials-svg {
  fill: var(--gray30);
  width: 32px;
  transition: var(--transition);
}

.socials-svg:hover {
  fill: var(--gray10);
}

footer {
  width: 90%;
  margin: 0px auto;
  max-width: 1080px;
  padding: 40px 0px;
}
