@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --ff: "Montserrat", sans-serif;
  --colorbody: #fff;
  --colora: #537fe7;
  --colora2: #ffe537;
  --colorp: #1e1e1e;
  --colorp2: #333;
  --colors: #f2f2f2;

  --gradient: linear-gradient(45deg, var(--colora) 0%, var(--colora2) 100%);

  --h1: bold 54px/60px var(--ff);
  --h2: bold 36px/48px var(--ff);
  --h3: bold 24px/36px var(--ff);

  --links: 18px/18px var(--ff);
  --p: 18px/30px var(--ff);
  --p1: 24px/30px var(--ff);
  --p2: 36px/48px var(--ff);
  --subtext: 12px/20px var(--ff);
  --transition: 0.3s ease-in-out;
  --shadow: #00000030 0px 0px 10px 0px;
}

.dark-mode {
  --colorp: #f9f9f9;
  --colora: #ffe537;
  --colora2: #537fe7;
  --colorbody: #1e1e1e;
  --colors: #333;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
/* header */
header {
  margin: auto;
  width: 90%;
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 20px 0px;
  font: var(--h3);
}

header svg {
  fill: var(--colora);
  width: 20px;
  margin-right: 8px;
}
body {
  /* text-wrap: balance; */
  margin: auto;
  background-color: var(--colorbody);
  color: var(--colorp);
  transition: var(--transition);
}

/* Toggle switch */
#mode {
  display: flex;
  gap: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 11px;
  overflow: hidden;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colora);
  border-radius: 20px;
}

.toggle-button {
  position: relative;
  margin: 3px 0px 0px 3px;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  background-color: var(--colors);
  transition: var(--transition);
}

input:checked + .toggle .toggle-button {
  transform: translateX(20px);
}

/* To top button */
.to-top {
  position: fixed;
  top: 85vh;
  right: 5vw;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--colors);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.to-top svg {
  fill: var(--colorp);
}

footer {
  margin-top: 90px;
  text-align: center;
  padding: 90px 0px;
  position: relative;
}

.footer-svg {
  fill: none;
  height: 80px;
  margin: 0px 16px 32px 16px;
  stroke: var(--colora);
  stroke-width: 8;
}

.footer-svg:hover {
  fill: var(--colora);
}

#greetings {
  margin: 60px 0px;
  font: var(--links);
}
a {
  text-decoration: none;
  color: var(--colorp);
  font: var(--links);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  color: var(--colorp);
  background: linear-gradient(var(--colorbody), var(--colorbody)) padding-box,
    linear-gradient(45deg, var(--colora) 0%, var(--colora2) 100%) border-box;
  border: solid 2px transparent;
  border-radius: 8px;
  padding: 12px 24px;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.btn:hover {
  color: var(--colorp);
  border: solid 2px var(--colorp);
}

h1,
h2,
h3,
.subtext {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 10px 0px;
  padding: 0px;
}
.p1 {
  font: var(--p1);
}

ul {
  margin: 10px;
}

h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
.p2 {
  font: var(--p2);
}
p,
ul,
ol {
  font: var(--p);
}
.links {
  font: var(--links);
}
.subtext {
  font: var(--subtext);
}

.section {
  width: 90%;
  margin: 90px auto 0px auto;
  max-width: 1080px;
}
.hero {
  width: 90vw;
  max-width: 1080px;
  margin: auto;
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}

/* flex cards */

.card,
.card1,
.card2,
.card3 {
  background-color: var(--colorp2);
  border-radius: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.card3:hover,
.card2:hover,
.card1:hover,
.card:hover {
  scale: 1.02;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.icons {
  height: 40px;
  box-shadow: none;
}
.icons2 {
  height: 32px;
  box-shadow: none;

  width: 32px;
}
.icons1 {
  height: 60px;
  box-shadow: none;
}
.logo-icon {
  width: 100px;
  box-shadow: none;
}

.flex-cards {
  width: 90%;
  max-width: 1080px;
  margin: 100px auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
}

.flex-cards > div {
  flex: 1;
}
.card > p,
.card2 > p,
.card3 > p {
  margin: 0px;
  line-height: 22px;
  color: white;
}

.card {
  min-width: 160px;
  height: 165px;
}
.card1 {
  min-width: 330px;
  height: 340px;
}
.card2 {
  min-width: 330px;
  height: 80px;
  flex-direction: row;
}
.card3 {
  min-width: 330px;
  height: 165px;
}

.c1,
.c2,
.c3 {
  display: flex;
  gap: 10px;
  min-width: 330px;
  flex-wrap: wrap;
}

/* portfolio */

.pro-case {
  text-align: center;
  margin-top: 200px;
}
.pf-card {
  width: 90vw;
  max-width: 1080px;
  margin: 200px auto;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.pf-image {
  flex: 1.5;
  min-width: min(100%, 460px);
}
.pf-about {
  flex: 1;
  min-width: 260px;
}
.pf-image img {
  transition: var(--transition);
}
.pf-image img:hover {
  transform: scale(1.01);
  transition: var(--transition);
}

img,
video {
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.section > img {
  margin: 20px 0px;
}

.img-padding {
  width: calc(100% - 40px);
  padding: 20px;
}

.plain-columns {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
#center {
  align-items: center;
}

.plain-columns > div {
  flex: 1;
  min-width: 200px;
}

.columns {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.columns > div {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.full-images {
  display: flex;
  flex-wrap: wrap;
}
.half-images {
  display: flex;
  flex-wrap: wrap;
}
.half-images > img {
  flex: 1;
  width: min(400px, 40vmax);
}

/* media query */
@media (max-width: 720px) {
  .btn {
    padding: 15px 0px;
    width: 90vw;
  }
}
