@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --ff: "Montserrat", sans-serif;
  --ff2: "Fira Code", monospace;
  --h1: bold 2rem/1.2em var(--ff);
  --h2: bold 1.5/1.5em var(--ff);
  --h3: bold 1.2rem/1.5em var(--ff);
  --links: bold 1rem/1em var(--ff);
  --p: 1rem/1.8em var(--ff);
  --subtext: .75rem/1.8em var(--ff);
  --transition: 0.3s ease-in-out;
}
:root {
  --gray10: hsl(0, 0%, 10%);
  --gray30: hsl(0, 0%, 30%);
  --gray60: hsl(0, 0%, 60%);
  --gray90: hsl(0, 0%, 90%);
  --accent: hsl(222, 76%, 62%);
  --accent-dark: hsl(52, 100%, 61%);
  --accent-dark95: hsl(52, 100%, 95%);
}
/* System mode (uses system preference) */
@media (prefers-color-scheme: dark) {
  :root {
    --gray10: hsl(0, 0%, 90%);
    --gray30: hsl(0, 0%, 60%);
    --gray60: hsl(0, 0%, 30%);
    --gray90: hsl(0, 0%, 10%);
    --accent: hsl(52, 100%, 61%);
    --accent40: hsl(52, 100%, 40%);
    --accent-dark: hsl(222, 76%, 62%);
    --accent-dark95: hsl(222, 76%, 5%);
  }
}
/* Light mode (default) */
html.light-mode {
  --gray10: hsl(0, 0%, 10%);
  --gray30: hsl(0, 0%, 30%);
  --gray60: hsl(0, 0%, 60%);
  --gray90: hsl(0, 0%, 90%);
  --accent: hsl(222, 76%, 62%);
  --accent-dark: hsl(52, 100%, 61%);
  --accent-dark95: hsl(52, 100%, 95%);
}

/* Dark mode */
html.dark-mode {
  --gray10: hsl(0, 0%, 90%);
  --gray30: hsl(0, 0%, 60%);
  --gray60: hsl(0, 0%, 30%);
  --gray90: hsl(0, 0%, 10%);
  --accent: hsl(52, 100%, 61%);
  --accent40: hsl(52, 100%, 40%);
  --accent-dark: hsl(222, 76%, 62%);
  --accent-dark95: hsl(222, 76%, 5%);
}



/* Global CSS */

h1,
h2,
h3,
.subtext {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 10px 0px;
  padding: 0px;
}

ul {
  margin: 10px;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

p,
ul,
ol {
  font: var(--p);
}

.links {
  font: var(--links);
}

.subtext {
  font: var(--subtext);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  margin: auto;
  background: linear-gradient(120deg, var(--gray90)0%, var(--accent-dark95)30%, var(--gray90)100%);
  min-height: 100vh;
  color: var(--gray10);
}

/* links & buttons */
a {
  display: inline-block;
  text-decoration: none;
  color: var(--gray10);
  font: var(--links);
  position: relative;
}

.btn {
  margin: 20px 0px;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0px;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(90deg, var(--accent) 0%, var(--accent-dark) 100%);
  transition: var(--transition);
}

.btn:hover::before {
  width: 100%;
  transition: var(--transition);
}

section {
  width: 90%;
  margin: 40px auto;
  max-width: 1080px;
}

/* header */
header {
  margin: auto;
  width: 90%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sajid {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 20px 0px;
}

header svg {
  fill: var(--accent);
  width: 12px;
  margin-right: 4px;
}

/* dark mode */
#mode{
  cursor: pointer;
  user-select: none;
}

#mode svg{
  fill: var(--gray10);
  width: 20px;
}


/* Footer */

footer {
  width: 90%;
  margin: 0px auto;
  max-width: 1080px;
  padding: 40px 0px;
}
.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.socials-svg {
  fill: var(--gray30);
  width: 24px;
  transition: var(--transition);
}

.socials-svg:hover {
  fill: var(--gray10);
}

/* css-tricks */
.note {
  max-width: 720px;
}