@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&display=swap");

:root {
  --card-size: 100vh;
  --font-size: 18px;
}

body {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
  cursor: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  color: #db202b;
  font-size: 8vw;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 20px;
  text-align: center;
  z-index: 9;
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30vh;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.bg-letters {
  --x: 0px;
  --y: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  color: #d5d887;

  font-size: var(--font-size);
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 400ms;
  -webkit-mask-image: radial-gradient(
    calc(var(--card-size) * 0.5) circle at var(--x) var(--y),
    rgb(255, 255, 255) 10%,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  overflow: hidden;
}

.bg:hover .bg-letters {
  opacity: 1;
}

/* links */
.links {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  max-width: 400px;
  height: 60px;
  background: #1e1e1e;
  border-radius: 30px;
  cursor: pointer;
  z-index: 10;
}
svg {
  width: 20px;
  fill: white;
}

svg:hover {
  fill: #d5d887;
  transition: 0.3s ease-in-out;
}
