/* Setup */
:root {
  --colorprimary: #000000;
  --colorsecondary: #ffffff;
  --coloraccent: #ed242b;
  --colorlinks: #b6b4b5;
  --ff: "Inter", sans-serif;
  --h1: bold 54px/70px var(--ff);
  --h2: bold 36px/48px var(--ff);
  --h3: bold 24px/30px var(--ff);
  --links: bold 18px/18px var(--ff);
  --p2: 30px/36px var(--ff);
  --p3: 14px/24px var(--ff);
  --p: 18px/30px var(--ff);
  --transition: 0.3s ease-in-out;
  --shadow: #00000030 0px 0px 10px 0px;
}

h1,
h2,
h3,
.links {
  margin: 0px;
}
h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
.links {
  font: var(--links);
}
.p2 {
  font: var(--p2);
}
.p3 {
  font: var(--p3);
}
p {
  font: var(--p);
  margin: 20px 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff);
  padding: 0px;
  margin: auto;
  background-color: var(--colorsecondary);
  color: var(--colorprimary);
}
section {
  width: 90vw;
  max-width: 1080px;
  margin: 100px auto;
}
/* Header */
header {
  background-color: var(--colorprimary);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: auto;
  width: 90vw;
  max-width: 1080px;
}
.logo {
  width: 100px;
}
a {
  text-decoration: none;
  color: var(--colorlinks);
  font: var(--links);
}

a:hover {
  color: var(--colorsecondary);
  transition: var(--transition);
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav-menu li {
  list-style: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: var(--transition);
  background-color: var(--colorsecondary);
}

/* media query for hamburger */
@media (max-width: 900px) {
  .reverse {
    flex-direction: column-reverse;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    background-color: var(--colorprimary);
    position: fixed;
    right: -100%;
    top: 80px;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    transition: var(--transition);
    margin: 0px;
  }
  .nav-item a {
    padding: 0px 5vw;
  }
  .nav-menu.active {
    right: 0;
    transition: var(--transition);
  }
  .cast-info .p3 {
    display: none;
  }
}

/* Hero */
.column {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.column > div {
  min-width: 320px;
}
.ecolumn {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
.ecolumn > div {
  min-width: min(360px, 100%);
  flex: 1;
}
.f1 {
  flex: 1;
}
.column3 {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.column3 > div {
  min-width: 300px;
  flex: 1;
}
.c1 {
  flex: 1;
}
.c2 {
  flex: 1.5;
}
#products {
  text-align: center;
  margin: 40px 0px;
}
.card {
  flex: 1;
  box-shadow: var(--shadow);
  border-radius: 10px;
  overflow: hidden;
}
.card p {
  padding: 0px 20px 20px 20px;
}
.card h3 {
  padding: 20px 20px 0px 20px;
}

img {
  width: 100%;
}
.order {
  text-align: center;
  max-width: 720px;
}
.button {
  display: inline-block;
  color: var(--colorsecondary);
  background-color: var(--coloraccent);
  padding: 16px 100px;
  border: none;
  border-radius: 5px;
  margin: 20px 0px;
}
.button:hover {
  background-color: var(--colorprimary);
  transition: var(--transition);
}

.team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 10px;
  overflow: hidden;
}
.team p {
  margin: 8px 0px;
}
.cast {
  flex: 1;
  /* min-width: 200px; */
}
.team img {
  display: block;
}

.cast-info {
  padding: 20px;
  flex: 1;
}
@media (max-width: 500px) {
  .cast-info h3 {
    font: var(--p);
    font-weight: bold;
  }
  h1 {
    font: var(--h2);
  }
}
.gallery p {
  margin-top: 4px;
}

.collapsible {
  cursor: pointer;
  padding: 36px 20px;
  width: 100%;
  border-left: 0px solid var(--coloraccent);
  border-right: 0px solid var(--coloraccent);
  border-top: 0px solid var(--coloraccent);
  border-bottom: 1px solid var(--coloraccent);
  text-align: left;
  font: var(--p);
  font-weight: bold;
  background-color: var(--colorsecondary);
}

.collapsible:before {
  content: "\002B";
  color: var(--coloraccent);
  font-weight: bold;
  float: right;
  margin-left: 8px;
}

.collapsible.active:before {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

footer {
  background-color: var(--colorprimary);
  color: var(--colorsecondary);
  padding: 40px 0px;
}
.logo2 {
  width: 300px;
}

.social-icons img {
  width: 20px;
}
.social-icons {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 20px 0px;
}

.end {
  text-align: center;
}
.end a {
  font: var(--p3);
  font-weight: bold;
}
.to-top {
  position: fixed;
  top: 80vh;
  right: 5vw;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--colorsecondary);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.to-top svg {
  fill: var(--coloraccent);
}
